<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Blog</title>
</head>
<body>
  <h1>New Blog</h1>

  <form action="" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title" ><br>

    <label for="body">Blog Body:</label><br>
    <textarea name="body"></textarea><br>
    
    <button>submit</button>
  </form>

</body>
</html>