<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Signup</title>
</head>
<body>
  <h1>User Signup</h1>

  <form action="" method="post">
    <label for="firstname">First Name: </label><br>
    <input type="text" name="firstname" id=""><br>

    <label for="lastname">Last Name: </label><br>
    <input type="text" name="lastname" id=""><br>

    <label for="email">Email: </label><br>
    <input type="email" name="email" id=""><br>

    <label for="password">Password: </label><br>
    <input type="password" name="password" id=""><br>

    <button>Signup</button>
  </form>

</body>
</html>